.terms-wrapper{

    width: 100%;
    min-height: 100vh;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 100px;
}

.terms-section{
    margin-top: 180px;
    max-width: 80%;
    font-size: 14px;
    font-weight: 300;
}

.terms-section h1{
    text-align: center;
    font-weight: 600;
    font-size: 24px;
    color: #B8A9FF;
    /* text-decoration: underline;
    text-decoration-color: #FF8400; */
    margin-bottom: 50px;
}
.terms-section p{
    margin-top: 80px;
    font-size: 22px;

}

.terms-wrapper .terms-section .terms-content-list{
    margin-top: 30px;
}

.terms-wrapper .terms-section .terms-content-list ul{
    margin-top: 10px;
}

.terms-wrapper .terms-section .terms-content-list li{
    margin-top: 10px;
    margin-left: 4%;
}

.terms-wrapper .terms-section .terms-content-list p{
    margin-left: 2%;
    margin-top: 5px;
}

hr{
    margin-top: 20px;
    margin-bottom: 20px;
}

@media (min-width:600px){
    .terms-section{
        font-size: 16px;
        width: 70%;
    }

    .terms-section h1{
        font-size: 3rem;
    }
}


@media (max-width: 480px) {

    .terms-section h1{

    font-weight: 800;
    font-size: 32px;
    color: #B8A9FF;

}



}