.home-wrapper {
    width: 100%;
    margin-top: 5rem;
}

#top-of-home {
  scroll-margin-top: 80px;
}


@media (max-width: 480px) {
        /* .hero-section-wrap {
            margin-top: 3rem;


 
    } */
.home-wrapper {
    width: 100%;
    margin-top: 4rem;
    
}


}
