.growth-section {
    min-height: 100%;
  /* background: linear-gradient(180deg, #2b0a49, #000); */
  color: white;
  padding: 60px 20px;
 
}

.growth-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 40px;
  max-width: 1200px;
  margin: 0 auto;
  margin-top: 100px;
  /* margin-left: 150px; */
  align-items: center;
}

.growth-text {
  flex: 1;
  min-width: 300px;
}

.growth-text h2 {
  font-size: 25px;
  font-weight: 500;
  margin-bottom: 8px;
}

.growth-text ul {
  list-style: none;
  padding: 10px;
  margin-left: 10px;
  margin-bottom: 30px;
    font-size: 16px;
  font-weight: 300;
  
    display: flex;
  flex-direction: column;
  gap: 8px; /* adjust spacing */
  text-align: left;
  

  
}

.growth-text ul li::before {
  content: "+";
  margin-right: 10px;
  color: #ffffff;
  font-size: medium;
 
}

.growth-btn {
  background: #7a3be0;
  color: #ffffff;
  border: none;
  padding: 12px 30px;
  border-radius: 25px;
  cursor: pointer;
  font-weight: 400;
  font-size: 10px;
  transition: 0.3s ease;  
}

.growth-btn:hover {
  color: #fff;
  transform: translateY(-2px);
  box-shadow: 0 4px 12px rgba(127, 63, 255, 0.3);
}

.growth-chart {
  flex: 1;
  min-width: 300px;
  display: flex;
  justify-content: center;
}

.growth-chart img {
  width: 100%;
  max-width: 500px;
}

.faq-section {
  margin-top: 160px;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

.faq-section h3 {
  text-align: left;
  font-size: 22px;
  font-weight: 500;
  margin-bottom: 30px;
  color: #ffffff;
  margin-top: 60px;
}

.FAQs{
  font-size: 26px;
  font-weight: bold;
  color: #cfc1f8;


}

.faq-item {
  border-bottom: 1px solid #555;
  padding: 20px 0;
}

.faq-item summary {
  cursor: pointer;
  font-weight: 500;
  font-size: 16px;
  list-style: none;
  position: relative;
  padding-right: 20px;
}

.faq-item summary::after {
  content: "▾";
  position: absolute;
  right: 0;
  transition: transform 0.3s ease;
}

.faq-item[open] summary::after {
  transform: rotate(180deg);
}

.faq-item p {
  margin-top: 15px;
  color: #cfc1f8;
  font-size: 12px;
  font-weight: 10;
}

/* Responsive */
@media (max-width: 768px) {
  .growth-content {
    flex-direction: column;
    text-align: center;
  }

  .growth-chart img {
    max-width: 100%;
  }

  .faq-section {
    padding: 0 10px;
  }
}



/* iPhone 14 Pro Max (430px) */
@media (max-width: 430px) {
  .growth-content {
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-top: 30px;
  }

  .growth-text h2 {
    font-size: 20px;
  }

  .growth-text ul {
  list-style: none;
  padding: 10px;
  margin-left: 30px;
  margin-bottom: 30px;
    font-size: 13px;
  font-weight: 300;
  
    display: flex;
  flex-direction: column;
  gap: 8px; /* adjust spacing */
  text-align: left;
  }

  .growth-btn {
    font-size: 12px;
    padding: 10px 25px;
  }

  .growth-chart img {
    max-width: 90%;
  }

  .faq-section {
  margin-top: 80px;

}


  .faq-section h3 {
    font-size: 20px;
  }
  

  .faq-item summary {
    font-size: 14px;
  }

  .faq-item p {
    font-size: 12px;
  }
}

/* iPhone XR (414px) */
@media (max-width: 414px) {
  .growth-content {
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-top: 30px;
  }

  .growth-text h2 {
    font-size: 20px;
  }

  /* .growth-text ul {
    font-size: 14px;
    padding: 0;
    margin: 20px 0;
    text-align: center;
  } */
     .growth-text ul {
  list-style: none;
  padding: 10px;
  margin-left: 30px;
  margin-bottom: 30px;
    font-size: 13px;
  font-weight: 300;
  
    display: flex;
  flex-direction: column;
  gap: 8px; /* adjust spacing */
  text-align: left;
  }

  .growth-btn {
    font-size: 12px;
    padding: 10px 25px;
  }

  .growth-chart img {
    max-width: 90%;
  }

  .faq-section h3 {
    font-size: 20px;
  }

  .faq-item summary {
    font-size: 14px;
  }

  .faq-item p {
    font-size: 12px;
  }
}

/* iPhone 12 Pro (390px) */
@media (max-width: 390px) {
  .growth-content {
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-top: 30px;
  }

  .growth-text h2 {
    font-size: 19px;
  }

  .growth-text ul {
  list-style: none;
  padding: 10px;
  margin-left: 30px;
  margin-bottom: 30px;
    font-size: 13px;
  font-weight: 300;
  
    display: flex;
  flex-direction: column;
  gap: 8px; /* adjust spacing */
  text-align: left;
  }

  .growth-btn {
    font-size: 11px;
    padding: 10px 22px;
  }

  .growth-chart img {
    max-width: 90%;
  }

  .faq-section h3 {
    font-size: 18px;
  }

  .faq-item summary {
    font-size: 13.5px;
  }

  .faq-item p {
    font-size: 11px;
  }
}

/* iPhone SE (375px) */
@media (max-width: 375px) {
  .growth-content {
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-top: 30px;
  }

  .growth-text h2 {
    font-size: 18px;
  }

  /* .growth-text ul {
    font-size: 13px;
    padding: 0;
    margin: 20px 0;
    text-align: center;
  } */

  .growth-text ul {
  list-style: none;
  padding: 10px;
  margin-left: 30px;
  margin-bottom: 30px;
    font-size: 13px;
  font-weight: 300;
  
    display: flex;
  flex-direction: column;
  gap: 8px; /* adjust spacing */
  text-align: left;
  }

  .growth-btn {
    font-size: 10px;
    padding: 10px 20px;
  }

  .growth-chart img {
    max-width: 90%;
  }

  .faq-section h3 {
    font-size: 18px;
  }

  .faq-item summary {
    font-size: 13px;
  }

  .faq-item p {
    font-size: 11px;
  }
}
