

:root {
	font-size: 16px;
	--page-padding: 1.5rem;
	--color-text: #fff;
	--color-bg: #12100e;
	--color-link: rgba(255,255,255,0.6);
	--color-link-hover: #fff;
	--color-bg-1: #2C0E4A;
	--color-bg-2: #1A0B2E;
	--color-bg-3: var(--color-bg-1);
	--color-bg-4: var(--color-bg-2);
	--color-bg-5: var(--color-bg-1);
	--color-bg-6: var(--color-bg-2);
}


.content--sticky {
	width: 100vw;
	position: sticky;
	top: 0;
	--offset: 0px;
	top: var(--offset);
	height: calc(100vh - var(--offset));
}
::-webkit-scrollbar{
	display: none;
}
.content--grid {
	max-width: 100vw;
	display: flex;
	align-items: end;
	justify-content: space-around;
	flex-direction: row;
	overflow: hidden;
	/*grid-column-gap: 15vw;
	grid-template-areas:  'content-title' 'content-text''content-img';*/
	
	

}

.content-box{
 display: flex;
 justify-content: center;
 max-width: 60vw;
 gap: 2vh;
 padding: 6rem;
 flex-direction: column;
 height: 70%;
 margin-bottom: 40px;

}
.content--img-left{
	
	flex-direction: row-reverse;
}

.content__img {
	
	max-width: 800px;
	height: auto;
}
.content__img3 {
	
	max-width: 35vw;
	height: auto;
}
.content__img4 {
	
	max-width: 40vw;
	height: auto;
}
.content__title {
	
	max-width: 80%;
	text-align: start;
	line-height: 1;
}

.content__text {

	max-width: 80%;
	text-align: start;
	line-height: 1.5;
}



.bg-1 { background: var(--color-bg-1); }
.bg-2 { background: var(--color-bg-2); }
.bg-3 { background: var(--color-bg-3); }
.bg-4 { background: var(--color-bg-4); }
.bg-5 { background: var(--color-bg-5); }
.bg-6 { background: var(--color-bg-6); }




@media (max-width: 1024px) {
 .content--grid {
	max-height: 90vh;
	max-width: 100vw;
	justify-content: center;
	align-items: center;
	display: flex;
	flex-direction: column-reverse;
	overflow: hidden;
}
.content-box{
 height: 50vh;
 display: flex;
 justify-content: start;
 align-items: center;
 text-align: center;
 max-width: 70vw;
 flex-direction: column;
 padding: 1rem;

 overflow: hidden;
 
}
.content__img {
	
	max-width: 55%;
	height: auto;
}
.content__title {
	font-size: 8vw;
	max-width: 100%;
	text-align: center;
}

.content__text {

	max-width: 100%;
	text-align: center;
	line-height: 1.5;
}
}


/* @media (max-width: 480px)  {
	.content-box{
		margin-bottom: 0px;
	}

	.content__title {
		margin-top: 15px;
	}

	.content__text {
		margin-top: 15px;

	}

} */

/* @media only screen and (max-width: 430px) and (min-width: 376px){
		.content-box{
		margin-bottom: 0px;
	}

	.content__title {
		margin-top: 55px;
		font-size: 30px;
	}

	.content__text {
		margin-top: 35px;

	}


} */